.ew{
    
    border: 5px solid;
    padding:40px;
    display: inline-block;
    width: 200px;
    margin: 20px;

}
.en
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 1000;
        
    
    }

.ew div{
    
    margin-bottom: 20px;

}